@media screen and (max-width:576px) {
  .cards {
    flex-direction: column;
  }

  .card {
    margin: 20px auto;
  }

  .resume {
    flex-direction: column;
  }

  .edu,
  .exp {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  footer {
    flex-direction: column;
  }

  .connect {
    padding: 10px 20px;
    width: 85%;
    margin: 0 auto;
  }

  .message {
    margin-top: 10px 20px;
    width: 85%;
    margin: 0 auto;
  }


  .message input {
    width: 100%;
    height: 65px;
    display: block;
  }


  .message textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 5px;

  }

  #about {
    height: auto;
    padding: 50px 0;
  }

  #about_me {
    height: auto;
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
  }

  #about_foot {
    flex-direction: column;
  }


}